:root {
  font-family: 'Poppins', sans-serif;
}

/*css reset*/
*{
  border: none;
  padding: 0;
  margin: 0;
  user-select: none;
}
button, a{
  cursor: pointer;
}
/*General styling for the main semantic elements*/
body{
  background-color: rgb(255, 255, 255);
  background-image: url(./assets/rebecca-orlov-epic-playdate-0r5PprYjChg-unsplash.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  font-family: 'Poppins', sans-serif;
}
.loading-page{
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: dissapear 3s 0s 1 normal forwards;
}
@keyframes dissapear {
  0% {
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateY(-50px);
    display: none;
	}
}
p{
  line-height: 1.5;
}
nav{
  position: sticky;
  top: 0;
  background-color: rgba(22, 22, 22, 0.333);
  display: flex;
  justify-content: center;
  padding: 20px;
  gap:33px;
  z-index:8;
}
.hamburger-menu{
  display: none;
  min-height: 35px;
  min-width: 35px;
}
.sidenav{
  display: flex;
  justify-content: center;
  gap:33px;
}
.scrolledNav .sidenav{
  position: absolute;
  top: 88px;
  left: 0;
  right: 0;
  background-color: white;
  padding: 20px;
}
.row{
  display: flex;
  justify-content: space-between;
}
.row-center{
  display: flex;
  gap:20px;
  justify-content: center;
}
.col{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.expand{
  flex-grow: 1;
}

.cart-count{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(190, 29, 29);
  color: rgb(255, 255, 255);
  border-radius: 50%;
  width:25px;
  height: 25px;
  font-size: 1.1rem;
  margin-left: -30px;
  margin-top: -4px;
}
nav a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.1rem;
}
nav a:hover{
  border-bottom: 2px solid darkgoldenrod;
}
.navbar{
  flex: 1;
  display: flex;
  justify-content: center;
  gap:25px;
}
.scrolledNav{
  background-color: pink;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 35px;
}
.scrolledNav a{
  color: #232323;
  font-weight: 500;
}
.active{
  border-bottom: 2px solid white;
}
header{
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.333);
  /* background-image:url(assets/diamonds.png); */
  background-position: top;
  background-size: cover;
  text-align: center;
  padding: 50px;
  padding-top: 70px;
  /* background-image: url(./assets/gif.gif);
  background-position:center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh; */
}
header a{
  margin: auto;
}
.header-icons{
  display: flex;
  gap: 20px;
  justify-self: flex-end;
  margin-top: -35px;
  margin-right: -35px;
  cursor: pointer;
  font-size: 2.3rem;
  color: rgba(0, 0, 0, 0.888);
}
.nav-icons{
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  font-size: 2rem;
  width: 200px;
  cursor: pointer;
}
.home-page{
  background-color: rgba(255, 255, 255, 0.7);
  background-image: url(./assets/Asset3@3x.png);
  padding:5%;
}
.hero-section{
  background-image: url(./assets/pexels-moose-photos-1036623.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-blend-mode:normal;
  background-position: -10%;
  background-color: rgba(235, 172, 183, 0.7);
  display: flex;
  padding-top: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 57vh;
  color:rgb(32, 32, 32);
  text-shadow: 1px 1px 5px white;
  border-bottom: 2px solid rgba(220, 220, 220, 0.55);
}

.hero-section p{
  max-width: 800px;
  padding: 20px;
}
.hero-section h2{
  padding: 10px;
  font-size: 1.6rem;
  font-weight: 500;
  border-bottom: 2px solid white;
  color: white;
  text-shadow: none;
} 
.hero-section div{
  max-width: 750px;
}
main{
  background-color: rgba(240, 248, 255, 0);
  display: flex;
  flex-direction: column;
  width:90%;
  gap:50px;
  max-width:900px;
  color:#232323;
  margin: 50px auto 80px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.info-section, .card-container{
  background-color: whitesmoke;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding:11%;
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 888px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap:35px;

}
.info-section{
  background-image: url(./assets/pexels-ron-lach-8131589.jpg);
  align-self: flex-start;
}
.card-container{
  background-image: url(./assets/pexels-karolina-grabowska-4041232.jpg);
  background-position: right;
  align-self: flex-end;
}
.card-container .secondary-btn{
  align-self: flex-start;
}
.info-section .secondary-btn{
  align-self: flex-end;
}
.info-section p, .card-container p{
  max-width: 500px;
  margin-left: auto;
  background-color: rgba(245, 245, 245, 0.555);
  padding:23px;
}
.card-container p{
  padding-left: 0px;
}
.btn-pair{
  margin-left: auto;
}
.secondary-btn{
  background-color: rgba(218, 165, 32, 0.77);
  padding:10px 23px;
  color: white;
  border-radius: 3px;
  transition: 0.3s;
  text-align: center;
}
.secondary-btn:hover{
  background-color: rgb(207, 136, 2);
  padding:10px 25px;
}
footer{
  background-color: rgba(0, 0, 0, 0.777);
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  justify-content: space-evenly;
  color:whitesmoke;
}
footer a{
  color: gray;
  padding: 0 15px;
}
@media  screen and (max-width: 800px){
  footer{
      padding: 30px;
  }
  .button1:active, .button2:active{
      padding: 8px 12px;
  }
  .buttons-container{
      align-self: center;
      margin: auto;
      margin-top: 20px
  }
  header{
      padding: 50px;
  }
}
/* ERROR PAGE*/
.error-page{
  background-color: rgba(255, 255, 255, 0.888);
  color: #313131;
  padding: 5%;
  align-items: center;
  gap:30px
}
.error-page h1{
  font-size: 5rem;
  color: rgb(212, 159, 168);
}
.error-page ul{
  max-width: 700px;
  list-style: none;
}
.error-page li{
  margin:7px;
}
.error-page span, .error-page a{
  font-weight: 600;
}
/* PRODUCTS PAGE */
.productsPage{
  background-color: rgba(255, 255, 255, 0.888);
  display: flex;
  min-height: 100vh;
}
.sideBar{
  position: relative;
  background-color: rgb(255, 255, 255);
  color:#000000;
  min-width: 200px;
  padding: 20px;
}
.filters-container{
  position: sticky;
  top: 70px;
}
.sideBar p{
  font-weight: 500;
  background-color: #ffc0cb55;
  padding:12px;
  width: 90%;
  margin: 10px -5px 0px -5px;
}
.sideBar li{
  list-style: none;
  border-bottom: 2px solid rgba(80, 10, 53, 0.555);
  padding:10px 5px;
  display: flex;
  align-items: center;
  gap:5px;
  cursor: pointer;
}
.sideBar li:nth-of-type(3), .sideBar li:last-of-type{
  border: none;
}
.sideBar button{
  background-color: rgba(80, 10, 53, 0.77);
  color:white;
  width: 100%;
  margin: auto;
  padding: 10px;
}
.sideBar button:hover{
  background-color: rgba(80, 10, 53);
}
.sideBar li:hover{
  text-decoration: none;
  border-left: 8px solid palevioletred;
}
.selected-type{
  border-left: 8px solid palevioletred;
}
.productsSection{
  justify-content: center;
  width: 100%;
  margin: 50px;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 55px;
}
.productCard{
  display: flex;
  flex-direction: column;
  width:288px;
  height: fit-content;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  cursor: pointer;
  transition: 0.8s;
  overflow: hidden;
  padding-bottom: 5px;
  font-family: 'Poppins', sans-serif;
}
.productCard .secondary-btn{
  margin:5px
}
.productCard .secondary-btn:active{
  background-color: gold;
}
.productCard img{
  width: 100%;
  transition: 0.5s
}
.productCard img:hover{
  filter: brightness(80%); 
  transform: scale(1.1);
}
.productCardText{
  padding: 20px;
  color: rgba(80, 10, 53);
  flex: 1;
}
.productCard h3{
  border-bottom: 1px solid gainsboro;
}
 a{
  text-decoration: none;
}
.quantity-input{
  border: 1px solid gainsboro;
  text-align: center;
  border-radius: 3px;
}
/* .added-message{
  position: absolute;
  background-color: rgba(80, 10, 53);
  padding: 20px;
  color: white;
  border-radius: 3px;
  margin: auto;
} */


/* product dashboard */
.product-dashboard{
  display: flex;
  justify-content: space-between;
  padding:5% 10%;
  flex-wrap: wrap;
  gap:50px;
  max-width: 1500px;
  margin: auto;
  /* background-color: white; */
}
.product-details{
  flex: 1 1 320px;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap:30px;
  padding:10px;}
.dashboard-layout{
  background-color: rgba(255, 255, 255, 0.888);
}
.back-button{
  display: flex;
  align-items: center;
  gap:8px;
  padding:53px 33px 10px 33px;
  font-weight: 500;
  color:black;
  text-decoration: none;
  width: fit-content;
  transition: 0.5s;
  font-size: 1.01rem;
}
.back-button:hover{
  text-decoration: underline;
  color:brown
}
/*ABOUT*/
.about-page{
  background-color: whitesmoke;
  padding:5%;
}
.about-section{
  background-color: whitesmoke;
  max-width:850px;
  color:#232323;
  margin: 50px auto 80px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap:20px;
}
.about-section input{
  padding: 10px;
  margin-bottom: 10px;
  border:1px solid gainsboro;
}
.about-section label{
  font-weight: 500;
}
.about-section svg:hover{
  fill: rgba(80, 10, 53);
  cursor: pointer;
}

/* DASHBOARD */
.product-photos{
  display: flex;
  border:1px solid rgb(255, 255, 255);
}
.product-dashboard-main-photo{
  display: block;
  margin-left: auto;
  height: 551px;
  width:390px;
  border:2px solid rgb(255, 255, 255);
}
.product-dashboard-small-photos-container{
  display: flex;
  flex-direction: column;
  width:135px;
}
.product-dashboard-small-photo{
  width:100%;
  height: 181px;
  border:2px solid rgb(255, 255, 255);
  cursor: pointer;
}
/*CHART*/
.chart-section{
  position: absolute;
  font-size: 1rem;
  width: 333px;
  background-color: rgba(255, 255, 255, 0.999);
  color: #232323;
  right:0px;
  top:0px;
  bottom:0px;
  padding:6%;
  z-index: 10;
  text-align: left;
  height: 100vh;
  min-height: fit-content;
}
.chart-container{
  display: flex;
  flex-direction: column;
  gap:50px;
  margin-top: 70px;
}
.chart-container a{
  width: 80%;
}
.chart-container svg{
  font-size: 10rem;
  margin: 33px auto;
}
.close-btn{
  position: absolute;
  right: 30px;
  top:30px;
  background-color: darkgoldenrod;
  color: whitesmoke;
  padding: 3px 10px;
  border-radius: 1px;
  font-size: 2rem;
}
.product-chart-container{
  display: flex;
  gap:20px;
  margin-top: 20px;
  border-bottom: 1px solid gainsboro;
}
.remove-chart-btn{
  color: rgba(128, 128, 128, 0.888);
  padding:5px;
  border-radius: 3px;
}
.chart-section .total{
  margin-top: 10px;
  align-items: center;
  gap: 5px;
}
.total p{
  border-bottom: 2px dotted gainsboro;
  padding-top: 8px;
}
.secondary-title{
  display: flex;
  align-items: center;
  gap:5px;
  border-bottom: 5px solid rgba(255, 192, 203, 0.333);
  font-size: 1.2rem;
  color:#333333;
}
.secondary-title svg{
  height: 35px;
  width: 35px;
}
@media screen and (max-width: 700px){
  .productsPage{
    flex-direction:column
  }
  .home-page{
    background-size: 300%;
    background-attachment: fixed;
  }
  .productsSection{
    margin:10px 0px 30px 0px;
    gap:20px
  }
  .hero-section{
    width: 100%;
    background-image: none;
  }
  .hero-section small{
    display: none;
  }
  .productCard{
    width: 150px;
    height: 250px;
  }
  .productCard img{
    height: 150px;
  }
  .productCardText{
    padding: 7px;
    font-size: 0.77rem;
  }
  .filters-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
  }
  .sideBar{
    padding:0px;
  }
  .sideBar li{
    border-bottom: none;
  }
  .sideBar .selected-type{
    border:none;
  }
  .sideBar li:hover{
    border:none;
  }
  .card-container p, .info-section p{
    background-color: rgba(245, 245, 245, 0.555);
    padding: 20px 10px 5px 10px;
  }
  .card-container, .info-section{
    background-size: cover;
    padding: 9%;
  }
  main{
    padding: 50px 0px;
    width: 100%;
  }
  .secondary-btn{
    width:82%;
    margin: auto;
    align-self: center;
  }
  .product-photos{
    margin: auto;
  }
  .product-dashboard{
    padding: 5%;
  }
  .product-dashboard-small-photos-container{
    align-items: center;
    width: fit-content;
  }
  .product-dashboard-small-photo{
    width: 112px;
    height: 105px;
    border:2px solid rgb(255, 255, 255);
  }
  .product-dashboard-main-photo{
    display: block;
    height: 323px;
    width: 200px;
    border:2px solid rgb(255, 255, 255);
  }
  .header-icons{
    top:10px;
    right: 10px;
  }
  nav img{
    height: 18px;
    padding-top: 10px;
  }
  .scrolledNav .navbar{
    display: none;
  }
  .scrolledNav{
    gap:25px
  }
  .scrolledNav .hamburger-menu{
    display: block;
    font-size: 3rem;
  }
}